*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#container{
	margin: 50px;
	width: 587px;
	height: 355px;
	border: 1px solid grey;
	border-radius: 1px;
	overflow-y: scroll;
	align-items: center;
	padding: 4px 7px 7px 7px;
}

div{
	-webkit-transition: height 0.8s ;
    -moz-transition: height 0.8s ;
    -o-transition: height 0.8s ;
    transition: height 0.8s ;
}

p{
	-webkit-transition: all 2s ;
    -moz-transition: all 2s ;
    -o-transition: all 2s ;
    transition: all 2s ;
}

.tab1{
	align-self: center;
	width: 571px;
	height: 38px;
	border: 1px solid grey;
	background-color: rgba(0, 0, 255, 0.3);
	border-radius: 4px 4px 0 0;
	margin-top: 3px;
}

.content1{
	align-self: center;
	width: 571px;
	/*height: 241px;*/
	height: 0px;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-radius: 0 0 4px 4px;
}

/*.tab1{
	
}*/

.tab1 h3{
	color: black;
}

/*.content1{
	height: none;
}*/

.content1 p{
	display: none;
}

.tab2{
	align-self: center;
	width: 571px;
	height: 38px;
	border: 1px solid grey;
	background-color: rgba(0, 0, 255, 0.8);
	border-radius: 4px 4px 0 0;
	margin-top: 3px;
}

.tab2 h3{
	color: white;
}

.content2{
	align-self: center;
	width: 571px;
	/*height: 241px;*/
	/*height: 0px;*/
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-radius: 0 0 4px 4px;
	height: 241px;
}

.content2 p{
	display: block;
}

/*p{
	display: none;
}*/